<html>
<body>

<form action="/result" enctype="multipart/form-data" method="POST">
    <div>
        <label>탄생일</label>
        <input name="photo1d" type="file"/>
        <input type="submit"/>
    </div>
</form>

<!--<form action="/result2" enctype="multipart/form-data" method="POST">-->
<!--    <div>-->
<!--        <label>50일</label>-->
<!--        <input name="photo50d" type="file">-->
<!--    </div>-->
<!--    <button class="" onclick="">-->
<!--        저장하기-->
<!--    </button>-->
<!--</form>-->
</body>
</html>